@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    transition: all .3s;
}

:root{
    /* Colors */
    --blue-color: #2563EB;
    --violet-color: rgb(89, 28, 135, .75);
    --dark-color: #0F172A;
    --white-color: #f5f5f5;
    --gray-color: #475569;
    --gray-color-second: #94A3B8;
    --gray-color-thirt: #F1F5F9;
    --linear: linear-gradient(99.45deg, #312E81 0%, #1E40AF 0.01%, #1E3A8A 46%, #701A75 96.97%);
    
    /* Sizes */
    --section-padding: 4rem;
    --body-padding: 5vw;
    --big-title-fs: 4.5rem;
    --title-fs: 3.5rem;
}

/* -------------------------- PROPRIETES GENERALES -------------------------- */
ul, ol,li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

html{
    font-size: 16px;
}

/* -------------------------------------------------------------------------- */
body{
    font-family: 'Roboto';
    width: 100%;
    min-height: 100vh;
    background: var(--dark-color);
}

.container{
    width: 100%;
    height: 100%;
    background: var(--white-color);
    color: var(--dark-color);
}

/* --------------------------------- HEADER --------------------------------- */
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 2vw;
}

header .logo{
    font-size: 2rem;
    text-transform: lowercase;
    cursor: default;
    user-select: none;
}

header .links{
    display: flex;
    gap: 1.5rem;
}

header .link{
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 .15rem;
}

header .link:hover a,
header .link.active a{
    color: var(--blue-color);
}

header .link:hover i,
header .link.active i{
    color: var(--blue-color);
}

header .link a{
    text-transform: capitalize;
    color: var(--dark-color);
    padding: .3rem;
}

header .link i{
    font-size: .85rem;
    cursor: pointer;
}

header .link i:hover{
    transform: translateY(.2rem);
}

header .buttons{
    display: flex;
    align-items: center;
}

header .btn1 a{
    color: var(--blue-color);
    background: var(--white-color);
    padding: .5rem 1rem;
}

header .btn2,
section.last .link{
    display: block;
    width: fit-content;
}

header .btn2 a,
section.last .link a,
section.first button{
    display: flex;
    gap: .75rem;
    align-items: center;
    background: var(--blue-color);
    color: var(--white-color);
    padding: .5rem .75rem;
    border-radius: .5rem;
}

section.last .link:hover a,
header .btn2:hover a,
section.first button:hover{
    scale: .95;
}

header .link .sub-links{
    position: absolute;
    right: 0;
    top: 1.5rem;
    display: none;
    flex-direction: column;
    gap: .15rem;
    background: #dddddd;
    width: 100%;
    text-align: center;
    font-size: inherit;
    border-radius: 0 0 .3rem .3rem;
    overflow: hidden;
}

header .link .sub-link{
    border-bottom: .1rem solid var(--gray-color-thirt);
    padding: .15rem;
}

header .link .sub-link:hover{
    background-color: #bdb9b9;
    color: #000;
}

header .link .sub-link a{
    color: var(--dark-color);
}

/* ---------------------------------- MAIN ---------------------------------- */
section{
    margin-bottom: var(--section-padding);
    padding: 0 var(--body-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4%;
}

section .block{
    width: 48%;
}

section .block .img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: ceenter center;
}

section .title{
    color: var(--dark-color);
    margin-bottom: 1rem;
}

section .title h1{
    font-size: 3rem;
}

section .title h2{
    font-size: 2.5rem;
}

section .block .content p{
    font-size: 1rem;
    line-height: 175%;
    margin-bottom: 1rem;
}

section .block .link{
    display: block;
    width: fit-content;
}

section .block .link a{
    display: flex;
    gap: .75rem;
    align-items: center;
    color: var(--blue-color);
    padding: .5rem 0;
}

section .block .link i{
    color: var(--blue-color);
}

section.first{
    border-top: 1px solid #E2E8F0;
    border-bottom: 1px solid #E2E8F0;
    padding: var(--section-padding);
}

section.first form{
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

section.first form .inputBox{
    width: 70%;
    position: relative;
}

section.first form .inputBox img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
}

section.first form .inputBox input{
    width: 100%;
    height: 100%;
    padding: 0 3rem;
    font-size: 1.1rem;
    border-radius: .5rem;
    border: 1px solid var(--gray-color-second);
}

section.first form .inputBox input::placeholder{
    font-size: .8rem;
}

section.first button{
    border: none;
    font-size: 1rem;
    width: 30%;
}

section.first .tools{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 0;
    border-radius: .5rem;
    background: #bfc2c5;
}

section.first .tools li{
    display: flex;
    /* align-items: center; */
    gap: .3rem;
}

section.first .tools li img{
    width: 1.4rem;
    height: 1.5rem;
}

section.forth{
    position: relative;
    margin: var(--body-padding);
    border-radius: 2rem;
    background: rgba(89, 28, 135, .7);
    padding: 1rem 0;
    overflow: hidden;
}

section.forth .bg_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

section.forth .bg_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



section.forth :is(h2, p, span){
    color: var(--white-color);
}

section .navigation{
    display: flex;
    /* padding: .3rem; */
    border: 1px solid var(--gray-color-second);
    border-radius: .5rem;
    overflow: hidden;
}

section .navigation li{
    border-right: 1px solid #000;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



section.last{
    display: block;
    background: var(--linear);
    margin: 0 var(--body-padding);
    border-radius: 2rem;
}

section.last .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: var(--section-padding) 0;
}

section.last .title h2{
    text-align: center;
    color: var(--white-color);
}

section.last .content p{
    text-align: center;
    color: var(--white-color);
}

section.last .content .link a{
    font-size: 1.2rem;
    font-weight: 500;
}


/* --------------------------------- FOOTER ---------------------------------  */
footer.footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--body-padding) / 2);
    font-size: 1rem;
    color: var(--dark-color);
}

footer .block1 span{
    font-size: 1.2rem;
    font-weight: 600;
    cursor: default;
    user-select: none;
}

footer .block2{
    display: flex;
}

footer .block2 li{
    margin-right: 1.5rem;
}

footer .block2 li a{
    color: var(--dark-color);
}

/* ---------------------- RESPONSIVE WITH MEDIA QUERIES --------------------- */