*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    transition: all .2s;
}

:root{
    /* Colors */
    --blue-color: #2563EB;
    --violet-color: rgb(89, 28, 135, .75);
    --dark-color: #0F172A;
    --white-color: #fff;
    --gray-color: #475569;
    --gray-color-second: #94A3B8;
    --gray-color-thirt: #F1F5F9;
    --linear: linear-gradient(99.45deg, #312E81 0%, #1E40AF 0.01%, #1E3A8A 46%, #701A75 96.97%);
    
    /* Sizes */
    --font-size: 4.5rem;
    --font-sizeh2: 3.5rem;
    
    /* Padding */
    --section-padding: 8rem;
    --section-gap: 8rem;
}

/* -------------------------- PROPRIETES GENERALES -------------------------- */
ul, ol,li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

html{
    font-size: 10px;
}

/* -------------------------------------------------------------------------- */
body{
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
    min-height: 100vh;
    font-size: 1.8rem;
}

.container{
    width: 100%;
    background: var(--white-color);
    color: var(--dark-color);
}

/* --------------------------------- HEADER --------------------------------- */
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.4rem;
    border-bottom: 0.1rem solid #E2E8F0;
}

header .logo{
    font-size: 3.2rem;
    text-transform: lowercase;
    font-weight: bold;
    color: var(--dark-color);
}

header .links{
    display: flex;
    align-items: center;
    gap: .8rem;
}

header .link{
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.6rem;
    font-weight: 500;
    padding: .2rem .8rem;
}

header .link:hover a,
header .link.active a{
    color: var(--blue-color);
}

header .link:hover i,
header .link.active i{
    color: var(--blue-color);
}

header .link a{
    text-transform: capitalize;
    color: var(--dark-color);
    padding: .6rem;
}

header .link i{
    font-size: 1.6rem;
    cursor: pointer;
}

header .link i:hover{
    transform: translateY(.3rem);
}

header .buttons{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.ctabtn1{
    color: var(--blue-color);
    background: var(--white-color);
    padding: 1.2rem .8rem;
    font-weight: 500;
    font-size: 1.6rem;
}

.ctabtn2,
.cta_link{
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: .8rem;
    padding: 1.2rem 2.8rem;
    gap: 1.6rem;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 500;
    white-space: nowrap;
}

.cta_link {
    background-color: var(--white-color);
    color: var(--blue-color);
    padding-left: 0;
}

.ctabtn2:hover,
.cta_link:hover {
    background-color: #0335bf;
}

.ctabtn2 img,
.cta_link img {
    width: 1.4rem;
    height: 1.4rem;
}

header .hamberger{
    width: 2.4rem;
    height: 2.4rem;
    padding: .6rem .4rem;
    display: none; 
    align-items: center;
    justify-content: center;
    background: transparent;
}

/* ---------------------------------- MAIN ---------------------------------- */
section{
    padding: var(--section-padding);
}

section.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--section-gap);
}

section.flex .content {
    max-width: calc(50vw - (var(--section-padding) + var(--section-gap)/2));
}

section.flex .img {
    max-width: calc(50vw - (var(--section-padding) + var(--section-gap)/2));
}

section.flex .img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

section h1.title h2.title{
    font-weight: 800;
    font-size: 6.2rem;
    color: var(--dark-color);
}

section h2.title{
    font-size: 5.6rem;
}

section.flex .content {
    display: flex;
    gap: 2.4rem;
    flex-direction: column;
}

section .paragraph{
    font-size: 1.8rem;
    color: var(--gray-color);
}

section.first form{
    display: flex;
    gap: 1.6rem;
    width: 100%;
}

section.first form .inputBox{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.2rem 1.6rem;
    border: 1px solid #CBD5E1;
    border-radius: .8rem;
    gap: .8rem;
}

section.first form .inputBox img{
    width: 2.4rem;
    height: 2.4rem;
}

section.first form .inputBox input{
    width: 80%;
    font-size: 1.8rem;
    border: none;
    background: transparent;
}

section.first form .inputBox input::placeholder{
    font-size: 1.6rem;
}

section.first .tools{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #F1F5F9;
}

section.first .tools img{
    height: 2.4rem;
    padding-left: 1rem;
}

section.forth{
    position: relative;
    margin: var(--body-padding);
    border-radius: 2rem;
    background: rgba(89, 28, 135, .7);
    padding: 1rem 0;
    overflow: hidden;
}

section.forth .bg_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

section.forth .bg_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



section.forth :is(h2, p, span){
    color: var(--white-color);
}

section .navigation{
    display: flex;
    /* padding: .3rem; */
    border: 1px solid var(--gray-color-second);
    border-radius: .5rem;
    overflow: hidden;
}

section .navigation li{
    border-right: 1px solid #000;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



section.last{
    display: block;
    background: var(--linear);
    margin: 0 var(--body-padding);
    border-radius: 2rem;
}

section.last .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: var(--section-padding) 0;
}

section.last .title h2{
    text-align: center;
    color: var(--white-color);
}

section.last .content p{
    text-align: center;
    color: var(--white-color);
}

section.last .content .link a{
    font-size: 1.2rem;
    font-weight: 500;
}


/* --------------------------------- FOOTER ---------------------------------  */
footer.footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--body-padding) / 2);
    font-size: 1rem;
    color: var(--dark-color);
}

footer .block1 span{
    font-size: 1.2rem;
    font-weight: 600;
    cursor: default;
    user-select: none;
}

footer .block2{
    display: flex;
}

footer .block2 li{
    margin-right: 1.5rem;
}

footer .block2 li a{
    color: var(--dark-color);
}

/* ---------------------- RESPONSIVE WITH MEDIA QUERIES --------------------- */